/* Reset CSS Básico */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* Ajusta la altura de línea */
    -webkit-text-size-adjust: 100%; /* Corrige el ajuste de tamaño de texto en Safari */
}

body {
    margin: 0;
}

